{{#if logged_in}}
<div class="title-box">
  <div class="container">
    <div class="box">Your Dashboard</div>
  </div>
</div> 

{{else}}

<div class="title-box">
  <div class="container">
    <div class="box">The Tech Blog</div>
  </div>
</div>  

{{/if}}




<div class="new-post-section">
  <div class="container">
    {{!-- Space holder to take up space that form will occupy. Do not want to use opacity 0 on form to ensure no functionality --}}
    <div class="space-holder"></div>
    {{#each posts as |post|}}
    <p>{{post.title}}</p>

    {{/each}}
    
    {{!-- Hidden until button click --}}
    <form class="post-form">
      <h2>Create new post</h2>
      <div class="form-group">
        <label for="title">Title</label>
        <input class="form-input" type="text" name="title" id="title" />
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <input class="form-input" type="input" name="content" id="content" />
      </div>
      <div class="form-group">
        <button class="" type="submit">Create</button>
      </div>
    </form>
    <button class="new-post-show">New Post</button>
  </div>
</div>






<script src="./js/dashboard.js"></script>







{{!-- <div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Post</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="post-title">Title</label>
        <input class="form-input" type="text" id="post-tle" name="post-title" />
      </div>
      <div class="form-group">
        <label for="project-funding">Content</label>
        <input class="form-input" id="content" name="content" />
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
      
    </form>
  </div>

  {{#if posts.length}}
  <div class="col-md-6 project-list">
    <h3>Current Posts:</h3>

    {{#each posts as |post|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script> --}}
