

<div class="title-box">
  <div class="container">
    <div class="box">The Tech Blog</div>
  </div>
</div>

<div class="all-posts">
  <div class="container">
  {{#if posts.length}}

  {{#each posts as |post| }}
  <div class="card" id="{{post.id}}">
    <div class="title">
      <h2> {{post.title}} </h2>
      <p> Posted by {{ blog_user.username }}</p>
      <p>{{post.id}}</p>
      {{!-- on {{ date }} --}}
    </div>
    <div class="content">
      <p> {{post.content}} </p>
    </div>
    <div class="comment-box" data-post-id="{{post.id}}">
      {{!-- {{#each comments as |comment|}}
      {{ifEqual comment.post_id post.id}}
      <p>put something here</p>
      <p>{{comment.content}}</p>
      <p>{{comment.user_id}}</p>
      {{/if}} --}}
      <label for="comment-text-{{post.id}}">Comment</label>
      <input type="text" class="comment-content" id="comment-input-post{{post.id}}">
      <button class="comment-btn" data-post-id="{{post.id}}">submit</button>
    </div>
  </div>
  {{/each}}

  {{/if}}
  </div>
</div>

<script src="./js/homepage.js"></script>






